* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google font */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* :end */
/* shared  */
.all-btn {
    padding: 12px 36px;
    font-weight: bold;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    cursor: pointer;
}
/* end */

.all-btn:hover {
    color: black;
    background-color: #00ff04;
}

.center {
    text-align: center;
}
/* end */

/* body */
body {
    background-color: #F5F8FF;
}
/* end  */


/* navbar */
.header {
    max-width: 1440px;
    height: 700px;
    margin: 0 auto;
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

}

header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
}

.header nav ul li {
    list-style: none;
}

.header nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
}

.header nav ul li a:hover {
    background-color: #ff9500;
    color: white;
}

.logo {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
/* end  */
/* banner section */

.banner-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-top: 160px;
    margin-bottom: 35px;
}
/* end  */
main {
    max-width: 1140px;
    margin: 0 auto;
}
/* :end */
/* action part */
.action-section {
    display: flex;
    justify-content: space-between;
    margin: 116px 0;
}

.action {
    margin: 62px 0;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-sub-title {
    font-size: 24px;
    color: #252432;
    margin: 23px 0;
    opacity: 50%;
}

.action-image img {
    border-radius: 48px;

}
/* :end */

/* productive user */
.productive-user-section {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin-bottom: 135px;
}

.productive-user-all-info {
    padding: 50px 142px;
}

.productive-user-title {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 40px;
}

.productive-user {
    display: flex;
    justify-content: space-around;
}

.productive-user-info-title {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;

}

.productive-user-info-sub-title {
    font-size: 20px;
    color: #000000;
    opacity: 50%;

}
/* :end */
/* user review  */
.review-section {
    margin-bottom: 135px;
}

.review-heading {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
}

.review-star {
    margin-bottom: 24px;
}

.user-review {
    display: flex;
    gap: 20px;
}

.user-review-info {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #F2EDED;
    border-radius: 14px;
    padding: 24px 48px 24px 24px;

}

.user-review-title {
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
}

.user-review-sub-title {
    color: #1E1E1E;
    margin: 8px 0 24px 0;
}

.user-review-personal-info {
    display: flex;
}

.user-reviewer-image {
    border-radius: 100%;
}

.user-reviewer-name-date {
    margin-left: 12px;
}

.user-reviewer-name {
    font-weight: 600;
    color: #757575;
}

.user-reviewer-date {
    margin-top: 2px;
    color: #B3B3B3;
}
/* :end */

/* get in touch  */
.get-in-touch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}

.get-touch-text {
    font-size: 80px;
    font-weight: bold;
    color: #000000;
}

.label {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
    display: block;

}

.input {
    width: 100%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 200px 20px 30px;
    margin-bottom: 20px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    display: block;

}

.get-in-touch-btn {
    width: 100%;
    padding: 20px 204px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.get-in-touch-btn:hover {
    background-color: #ff0000;
}
/* :end */
/* footer  */
.footer {
    padding: 105px 455px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-logo {
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
}

.footer-subtitle {
    color: #8987A1;
    margin: 8px 0 20px 0;
}

.link ul {
    display: flex;
    justify-content: center;
    gap: 48px;

}

.link ul li {
    list-style: none;
}

.link ul li a {
    text-decoration: none;
    color: #8987A1;
}